/*--------------------------------//
//                                //
//              Main              //
//                                //
//--------------------------------*/
/* latin */
@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-family: 'Press Start 2P', cursive;
	color: #FFF;
}

#titlePage {
	position: absolute;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	font-size: 16em;
	background-color: #000;
	opacity: 1;
	transition: opacity 2s;
}

#titlePage.hidden {
	opacity: 0;
}

#title {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 2s;
}

#title.visible {
	opacity: 1;
}

#table {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: #000;
}

#table:after {
    content:"";
    position: absolute;
    z-index: 2;
    top: 10vh;
    bottom: 10vh;
    left: calc(50% - 0.25vw);
    border-left: 0.5vw dashed #FFF;
}

#ball {
	position: absolute;
	z-index: 3;
	width: 1em;
	height: 1em;
	top: calc(50vh - 0.5em);
	left: calc(50vw - 0.5em);
	background-color: #FFF;
	transition-timing-function: linear;
}

.paddle {
	position: absolute;
	z-index: 3;
	width: 1.5vw;
	height: 15vh;
	top: 42.5vh;
	background-color: #FFF;
	transition-timing-function: linear;
}

#paddle1 {
	left: 5vw;
}

#paddle2 {
	right: 5vw;
}

.score {
	position: absolute;
	z-index: 3;
	top: 10vh;
	color: #FFF;
	font-size: 4em;
	transition-timing-function: linear;
}

#player1Score {
	right: 60vw;
}

#player2Score {
	left: 60vw;
}

#countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 8em;
}